@import 'tailwindcss';

html,
body {
  @apply bg-[#21252b];
}

body {
  @apply font-mono text-[13px] leading-[18px] sm:text-sm text-mist-400;
}

header {
  @apply bg-[#282c34] whitespace-pre;
  a {
    @apply block hover:text-mist-300;
  }
  a.active {
    @apply text-green-400 hover:text-green-300;
  }
  a:focus-visible {
    @apply text-mist-300 outline-1 outline-offset-1;
    &.active {
      @apply text-green-400 outline-mist-300;
    }
  }
}

button {
  @apply rounded px-2.5 py-1 bg-green-500 text-[#21252b] hover:bg-green-400;
  &:not(:disabled) {
    @apply cursor-pointer;
  }
  &:focus-visible {
    @apply outline-0 ring-4 ring-green-400/35 bg-green-400;
  }
}

.card {
  @apply border rounded p-3 mb-4 relative;
  h2 {
    @apply text-sky-500 pb-2;
  }
}
.card-badge {
  @apply absolute text-xs -top-2 -right-2 bg-mist-400 px-2 py-0.5 rounded text-[#21252b];
}

.animate-render {
  animation: animateRender 0.5s ease;
}

@keyframes animateRender {
  0% {
    border-color: currentcolor;
    background-color: transparent;
    box-shadow: 0 0 0 4px color-mix(in oklab, var(--color-sky-500) 0%, transparent);
  }
  50% {
    border-color: var(--color-sky-500);
    background-color: #282c34;
    box-shadow: 0 0 0 4px color-mix(in oklab, var(--color-sky-500) 35%, transparent);
  }
  100% {
    border-color: currentcolor;
    background-color: transparent;
    box-shadow: 0 0 0 4px color-mix(in oklab, var(--color-sky-500) 0%, transparent);
  }
}
